* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.splide {
    width: 1080px;    /* Set carousel width */
    height: 1920px;   /* Set carousel height */
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the images fit within the carousel */
}
